html { height: fit-content }
body { width: 265px ; height: 111px !important ; margin: 0 }

body, button, input, select, textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,sans-serif ;
    font-size: .905rem ; user-select: none
}

a { color: #999 ; text-decoration: none }
a:focus, a:hover { text-decoration: underline ; color: inherit }

.menu-header {
    border-bottom: solid 1px lightgrey;
    padding: 5px 5px 5px 0; margin: 0;
    display: flex; background: white;
    align-items: center;
}

.menu-title { font-size: 0.85rem ; font-weight: 600; }

.logo { margin: 4px 10px 4px 12px }

.menu-icons > .toggle-switch { transform: scale(1.1) } /* Make master toggle bigger */
.menu-item > label > .slider { transform: scale(0.95) ; top: 1px; } /* Make child toggles smaller */

.menu-area:focus, .menu-area:hover { color: var(--bg); background: rgb(155, 106, 18); cursor: pointer; }
.menu-area:hover { filter: invert(1); font-weight: 600; }

.menu-icon { padding: 8px }
.menu-item {    
    align-items: center;
    display: flex; min-height: 2rem;
    position: relative;
    padding-right: 14px;
    border-bottom: 1px solid lightgrey;
    white-space: nowrap;
    font-size: 91%;
}

.main-toggle { margin-left: auto ; display: flex }

/* Hide the checkbox */
.toggle-switch input[type="checkbox"] { display: none }

/* Style the slider */
.toggle-switch .slider {
    background-color: white;  display: block; border: 1px solid black; border-radius: 7px; 
    position: relative; top: 0.05rem;
    height: 10px; width: 18px;
    cursor: pointer;
}

/* Style the slider circle */
.toggle-switch .slider::before {
    position: absolute ; height: 0.625rem ; width: 0.625rem ; left: -0.04rem ; top: -0.05rem ;
    border: 1px solid black ; border-radius: 50% ;
    background-color: white ; content: ""
}

/* Style the slider when it's active */
.toggle-switch input[type="checkbox"]:checked + .slider { background-color: black }

/* Move the circle to the right when the checkbox is checked */
.toggle-switch input[type="checkbox"]:checked + .slider::before { transform: translateX(9px) }

footer {
    color: #999; background: #f5f5f5;
    height: 40px; line-height: 40px;
    font-size: 12px; text-align: center;
}

footer > .menu-icon { position: absolute ; bottom: 4px ; opacity: 0.7 }

.disabled { opacity: 0.3 ; pointer-events: none }
.enabled { opacity: 1 }

.chatgpt-js { position: absolute ; bottom: 0.65rem ; left: 0.7rem }
