html { height: fit-content }
body { width: 265px ; height: 111px !important ; margin: 0 }

body, button, input, select, textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,sans-serif ;
    font-size: .905rem ; user-select: none
}

a { color: #999 ; text-decoration: none }
a:focus, a:hover { text-decoration: underline ; color: inherit }

.menu-header {
    align-items: center;
    background: white;
    padding: 5px 5px 5px 0;
    display: flex;
    margin: 0;
    border-bottom: solid 1px lightgrey;
}

.menu-title { font-size: 0.85rem ; font-weight: 600; }

.logo { margin: 4px 10px 4px 12px }

.menu-area:focus, .menu-area:hover {
    background: rgb(155, 106, 18);
    color: var(--bg);
    cursor: pointer;
}

.menu-area:hover {
    filter: invert(1);
    font-weight: 600;
}
.main-toggle { margin-left: auto ; display: flex }
.menu-icon { padding: 8px }

.menu-item {    
    align-items: center;
    display: flex;
    min-height: 2rem;
    padding-right: 14px;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid lightgrey;
    font-size: 91%;
}

.menu-icons > .toggle-switch { transform: scale(1.1) } /* Make master toggle bigger */
.menu-item > label > .slider { transform: scale(0.95) ; top: 1px; } /* Make child toggles smaller */

/* Hide the checkbox */
.toggle-switch input[type="checkbox"] { display: none }

/* Style the slider */
.toggle-switch .slider {
    position: relative;
    cursor: pointer;
    top: 0.05rem;
    background-color: white;
    height: 10px;
    width: 18px;
    display: block;
    border-radius: 7px;
    border: 1px solid black;
}

/* Style the slider circle */
.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 0.625rem;
    width: 0.625rem;
    left: -0.04rem;
    top: -0.05rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
}

/* Style the slider when it's active */
.toggle-switch input[type="checkbox"]:checked + .slider { background-color: black }

/* Move the circle to the right when the checkbox is checked */
.toggle-switch input[type="checkbox"]:checked + .slider::before { transform: translateX(9px) }

footer {
    color: #999;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f5f5f5;
}

footer > .menu-icon { position: absolute ; bottom: 4px ; opacity: 0.7 }

.disabled { opacity: 0.3 ; pointer-events: none }
.enabled { opacity: 1 }

.chatgpt-js { position: absolute ; bottom: 0.65rem ; left: 0.7rem }